html {
    background-color: #CC9C49;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*body {
    padding-left: -150px;
    padding-right: -150px;
}*/

.margins {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mymodal {
    margin-top: 120px !important;
}

.modal-header{
    text-align:center;
}

/* unvisited link */
.modal-header a:link {
    color: white;
}

/* visited link */
.modal-header a:visited {
    color: white;
}

.main_div {
    /*margin: auto;
    width: 50%;*/
    margin-top: 50px;
    /*background-image: url('../../img/wooden.png');*/
}

.storeLogo {
    height: 20px;
    width: 20px;
    margin: 20px;
}

.mymodal-content {
    background-image: linear-gradient(#B8832E, #CC9C49);
    color: white;
    width: 90%;
    margin: inherit;
}

.game {
    padding: 25px 20px 0px 20px;
    display: inline-block;
    /*width: 220px;*/
    height: 110px;
    background-image: url('../../../img/wooden.png');
    /*margin-left: -10px;*/
}

.cover {
    height: 70px;
    width: 185px;
    margin: 0 auto;
    display: block;
    box-shadow: 3px 3px 1px rgb(51, 49, 49);
    -moz-box-shadow: 3px 3px 1px rgb(51, 49, 49);
    -webkit-box-shadow: 3px 3px 1px rgb(51, 49, 49);
    -khtml-box-shadow: 3px 3px 1px rgb(51, 49, 49);
}

.container-fluid {
    padding-left: 0px !important;
    width: 100%;
    text-align: center;
}

/*Fix for scroolbar dissapear when modal area shown*/
.modal-open {
    overflow: scroll;
    padding-right: 0 !important;
}


#navbar {
    background-color: gray; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
    z-index: 3;
    background-image: linear-gradient(#B8832E, #CC9C49);
    border-bottom-style: unset;
}
    /* Style the navbar links */
    #navbar a {
        float: left;
        /*display: block;*/
        color: white;
        text-align: center;
        padding: 15px;
        /*text-decoration: none;*/
    }

.icon {
    /*background: url('../favicon.svg');*/
    height: 20px;
    width: 20px;
    display: block;
}

.ui-menu {
    background-color: white;
    width: 250px;
    top: 50px;
}

.ui-menu ul{
}

    .ui-menu li {
        list-style: none;
        margin-left: -25px;
        padding-top: 10px;
    }