/*------------------------------------------------------------------
  	[The "base.scss" contains basic default element styles
  		(colors, typography, margins & padding).]
------------------------------------------------------------------*/

html {
    overflow-x: hidden;
}

html, html a, body {
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    font-family: $font-family-base;
}

p {
    @include font($size: 15px, $weight: 400, $family: $font-family-base);
    color: $color-subtitle;
    line-height: 1.4;
    margin-bottom: 15px;
}

em,
li,
li a {
    @include font($size: 16px, $weight: 500, $family: $font-family-base);
    color: $color-heading;
}

a {
    @include font($family: $font-family-base);
    color: $color-link;
    outline: 0;

    &:focus,
    &:hover,
    &:active {
        outline: 0;
        color: $color-link-hover;
        text-decoration: none;
    }
}

.link {
    position: relative;
    @include font($size: 13px, $weight: 600, $family: $font-family-base);
    text-transform: uppercase;

    &:after {
        @include position(absolute, $top: 8px, $right: -15px);
        @include size(9px, 2px);
        background: $color-base;
        content: " ";
    }
}

span {
    @include font($size: 14px, $weight: 400, $family: $font-family-base);
    color: #bfc1c7;
}

h1, h2, h3, h4, h5, h6 {
    @include font($weight: 700, $family: $font-family-base);
    color: $color-heading;
    line-height: 1.4;
    margin: 0 0 15px;

    > a {
        color: $color-heading;

        &:hover {
            color: $color-link-hover;
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }
    }
}

h1 { @include font($size: 40px); }
h2 { @include font($size: 30px); }
h3 { @include font($size: 22px); }
h4 { @include font($size: 22px); }

::selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}
::-webkit-selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}
::-moz-selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}

:active,
:focus {
    outline: none;
}

/* Section Seperator */
.section-seperator {
    border-bottom: 1px solid #edf0f2;
}

/* Content Wrapper Link */
.content-wrapper-link {
    @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
    display: block;
    z-index: 3;
    text-decoration: none;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.mymodal {
    margin-top: 120px !important;
}

.main_div{
    background-image: url('../../img/wooden.png');
}

.storeLogo {
    height: 20px;
    width: 20px;
}

// .mymodal-content {
//     background-color: darkslategrey !important;
//     color: white;
// }

.game{
    padding: 25px 10px 0px 10px;
    display:inline-block;
    width: 220px;
    height: 110px;
}

.cover{
    height: 70px;
    width: 185px;
    box-shadow: 3px 3px 1px rgb(51, 49, 49);
			-moz-box-shadow: 3px 3px 1px rgb(51, 49, 49);
			-webkit-box-shadow: 3px 3px 1px rgb(51, 49, 49);
			-khtml-box-shadow: 3px 3px 1px rgb(51, 49, 49);
}

.container-fluid{
    padding-left: 0px !important;
    width: 100%;
    text-align: center;
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .loader #spinner {
      box-sizing: border-box;
      stroke: #673AB7;
      stroke-width: 3px;
      -webkit-transform-origin: 50%;
              transform-origin: 50%;
      -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
              animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    to {
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg); } }
  
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    to {
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg); } }
  
  @-webkit-keyframes line {
    0% {
      stroke-dasharray: 2, 85.964;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    50% {
      stroke-dasharray: 65.973, 21.9911;
      stroke-dashoffset: 0; }
    100% {
      stroke-dasharray: 2, 85.964;
      stroke-dashoffset: -65.973;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }
  
  @keyframes line {
    0% {
      stroke-dasharray: 2, 85.964;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    50% {
      stroke-dasharray: 65.973, 21.9911;
      stroke-dashoffset: 0; }
    100% {
      stroke-dasharray: 2, 85.964;
      stroke-dashoffset: -65.973;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }
  